<table class="index_table">
  <thead>
  <tr>
    <th>Equipment Name</th>
    <% (1..12).each do |month| %>
      <th><%= Date::MONTHNAMES[month] %></th>
    <% end %>
  </th>
  </thead>
  <% @presenter.output.each do |unit| %>
    <tr>
      <td>
        <%= link_to unit[:name], admin_equipment_type_equipment_unit_path(unit[:equipment_type_id], unit[:id]) %>
      </td>
      <% unit[:all_monthly_budgets].each do |monthly_budget| %>
        <td>
          <ul>
            <% monthly_budget.each do |plan_with_stop| %>
              <li>
                <%= plan_with_stop[:plan].name %> at <%= plan_with_stop[:stop] %>
              </li>
            <% end %>
          </ul>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
<div id="index_footer">
  <div class="download_links">
    <span>Download:</span>
    <%= link_to 'CSV', schedule_by_equipment_unit_admin_workspace_path(@presenter.workspace, format: 'csv') %>
  </div>
</div>
