<h2><%= @equipment_type.name %></h2>
<h3>inside <%= @workspace.name %></h3>
<h3>Equipment Units</h3>
<ul>
  <% @equipment_units.each do |equipment_unit| %>
    <li>
      <%= equipment_unit.name.presence || 'Unit' %>
    </li>
  <% end %>
</ul>
<%= link_to 'New Equipment Unit', new_equipment_type_equipment_unit_path(@equipment_type) %>
Total count: <%= @equipment_units.count %>
